
ul{
    text-align : center
}
li{

    display : inline-block
    
}

.header-container{
    background-color:  #032541;
    }
    .header-wrap {
        margin: 0px;
        align-items: center;
    }
  .user-wrap{
   
    position: relative;
    cursor: pointer;
  }

  .user-text{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -44%, -50%);
    color: aliceblue;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    text-align: left;
    border-radius:   0px 0px 10px 10px;
  }

  .hover-container:hover .user-text {
    opacity: 1;
  }

  .adImg{
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
  }


.login button{
    border-radius: 30px;
    width: 80px;
    height: 30px;
    background-color: white;
    color: #22254b;
}
.login ul{
    text-align : center
}
.login li{
    color: white;
    padding-left: 10px;
    display : inline-block

}
.page-container{
    max-width: 1400px;
    margin:0 auto;
    padding:32px 0;
}
.page-container ul{
    text-align : left
}
.page-container li{
    display : inline-block
}