
ul{
    text-align : center
}
li{

    display : inline-block
    
}
body{
    background-color: #22254b;

}

  .user-wrap{
   
    position: relative;
    cursor: pointer;
  }

  .user-text{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -44%, -50%);
    color: aliceblue;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    text-align: left;
  
  }

  .hover-container:hover .user-text {
    opacity: 1;
  }
